name: build
on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - main
      - release/*

  pull_request:
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: nuget/setup-nuget@v1
      - run: nuget restore Sentry.Xamarin.sln
      - uses: microsoft/setup-msbuild@v1.0.2
        if: matrix.os == 'windows-latest'
      - name: Build Solution with MSBuild
        run: msbuild Sentry.Xamarin.sln -p:Configuration=Release
      - name: Build iOS Sample app
        run: msbuild Samples/Sample.Xamarin.iOS/Sample.Xamarin.iOS.csproj
        if: matrix.os == 'macos-latest'
      - name: Build Android Sample app
        run: msbuild Samples/Sample.Xamarin.Droid/Sample.Xamarin.Droid.csproj
        if: matrix.os == 'windows-latest'
      - name: Build UWP Sample app
        run: msbuild Samples/Sample.Xamarin.UWP/Sample.Xamarin.UWP.csproj /p:Platform=x64 /p:Configuration=Release
        if: matrix.os == 'windows-latest'
      - name: Build UWP Test Project
        run: msbuild Tests/Sentry.Xamarin.Forms.Tests.UWP/Sentry.Xamarin.Forms.Tests.UWP.csproj /p:Platform=x64 /p:Configuration=Release
        if: matrix.os == 'windows-latest'
      - name: Setup VS Test
        uses: darenm/Setup-VSTest@v1
        if: matrix.os == 'windows-latest'
      - name: Run UWP Test Project
        run: vstest.console.exe /Platform:x64 Tests\Sentry.Xamarin.Forms.Tests.UWP\AppPackages\Sentry.Xamarin.Forms.Tests.UWP_1.0.0.0_x64_Test\Sentry.Xamarin.Forms.Tests.UWP_1.0.0.0_x64.appx
        if: matrix.os == 'windows-latest'
      - name: Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Sentry.Xamarin.Forms.1.0.0.nupkg
          path: |
            ${{ github.workspace }}/Sentry.Xamarin.Forms/bin/Release/Sentry.Xamarin.Forms.1.0.0.nupkg
